.title{
  margin: -150px auto 50px;
  font-size: 48px;
  padding-left: 28vw;
}


.sign{
  color:black;
  background-color:	#FFDAB9;
 border:solid 5vmin #eee;
 border-bottom-color:#fff;
 border-left-color:#eee;
 border-radius:2px;
 border-right-color:#eee;
 border-top-color:#ddd;
 box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
 box-sizing:border-box;
 display:inline-block;
 margin:5vh 50px;
 height:250px;
 width: 350px;
 padding:15px;
 position:relative;
 text-align:center;
 /* attempt to get rid of jaggies when rotated */
 transform-style: preserve-3d;
 backface-visibility: hidden;
 /* nice rounded corners */
 border-radius: 15px;
 /* set the swing origin (nail body) */
 transform-origin: 50% -65px;
 /* animate the swing with pendulum-style easing */
 animation: swing 1.5s infinite alternate ease-in-out;
 &:before {
   border-radius:2px;
   bottom:-2vmin;
   box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
   content:"";
   left:-2vmin;
   position:absolute;
   right:-2vmin;
   top:-2vmin;
 }
 &:after {
   border-radius:2px;
   bottom:-2.5vmin;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
   content:"";
   left:-2.5vmin;
   position:absolute;
   right:-2.5vmin;
   top:-2.5vmin;
 }
}


.sign:hover {
  /* Hover over the sign to stop the animation */
  animation-play-state: paused;
}


.sign IMG {
  display:block;
  width:2.5em;
  height: 2.5em;
   margin:0 auto;
}
.sign:before {
  /* string */
  position: absolute;
  content: "";
  /* string thickness/color */
  border: 2px dotted #444;
  /* hide string after connection with sign */
  border-bottom: none;
  border-left: none;
  /* string 'size' (as a -45deg rotated square) */
  width: 100px;
  height: 100px;
  /* string position */
  top: -100px;
  left: 50%;
  margin-left: -50px;
  /* string construct */
  transform: rotate(-45deg);
  /* string curved round nail body (unseen) */
  border-radius: 0 5px 0 0;
}
.sign:after {
  /* nail */
  position: absolute;
  content: "";
  /* nail head size */
  width: 10px;
  height: 10px;
  /* nail head as a circle */
  border-radius: 50%;
  /* nail position */
  top: -125px;
  left: 50%;
  margin-left: -4px;
  /* nail head default color + gradient (where supported) */
  background: gray;
}
/* sign swinging animation sequence */
@keyframes swing {
  0% { transform: rotate(-3deg) }
  100% { transform: rotate(3deg) }
}
