<div class="title">
  <h1> My Skills</h1>
</div>

<div class="sign">
 <img src="/assets/html-5.svg">
  <p>HTML</p>
</div>

<div class="sign">
 <img src="/assets/css-3.svg">
  <p>CSS</p>
</div>

<div class="sign">
 <img src="/assets/bootstrap.svg">
  <p>Bootstrap</p>
</div>
<div class="sign">
 <img src="/assets/angular-icon.svg">
  <p>Angular</p>
</div>
<div class="sign">
 <img src="/assets/react.svg">
  <p>React</p>
</div>
<div class="sign">
 <img src="/assets/android-icon.svg">
  <p>Android</p>
</div>
